<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      h1 {
        color: rgb(93, 83, 69);
        text-align: center;
        margin: 10px;
      }
      header {
        background-color: antiquewhite;
        width: 100%;
        height: 70px;
        box-shadow: 0 0 12px gray;
        > ul {
          height: 100%;
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          > li {
            margin-right: 24px;
            > a {
              text-decoration: none;
              font-size: 25px;
              color: rgb(92, 69, 69);
              font-weight: 600;
              padding: 20px;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: rgb(255, 215, 167);
              }
              &:active {
                background-color: rgb(253, 178, 79);
              }
            }
          }
        }
      }
      form {
        padding: 32px;
        border: 1px solid rgb(197, 195, 195);
        border-radius: 12px;
        margin: 30px auto;
        box-shadow: 0 0 10px rgb(197, 195, 195);
        width: 600px;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/listUser">List</a>
        </li>
      </ul>
    </header>
    <h1>Update Page</h1>
    <form
      action="/updateUser/<%=pros.id%>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <label for="">Username</label>
        <input
          type="text"
          name="username"
          class="form-control m-2"
          value="<%=pros.username %>"
          required
        />
      </div>
      <div>
        <label for="">Email</label>
        <input
          type="email"
          name="email"
          class="form-control m-2"
          value="<%=pros.email %>"
          required
        />
      </div>
      <div>
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          class="form-control m-2"
          value="<%=pros.password %>"
          required
        />
      </div>
      <button
        type="submit"
        value="save"
        class="btn btn-info m-2 d-flex justify-content-center"
      >
        Upload
      </button>
    </form>
  </body>
</html>
